 <style type="text/css">
    .centerBlock {
        display: table;
        margin: auto;
    }
    .text-center {
        text-align:center
    }
    .custom-input-width{
        width:150px;
        margin-right: 5px;
    }
    .custom-search-width{
        width:160px;
        border-radius: 5px;
    }
    .custom-button-width{
        max-width: 110px;
    }
    .page-link.active{
        background-color:#e1e1e1; 
    }
    .text-right-with-margin{
        text-align: right;
        margin:10px;
    }
    .action-icon svg{
        width:24px;
        height:24px;
        fill:#4393b9;
    }
    .align-middle{
        vertical-align: middle;
    }
 </style>

<div class="jumbotron">
    <p>Contact Book Dashboard</p>
    <button class="btn btn-success" ng-click="initializeSystem()">Initialize System</button>
    <p style="font-size:1em;">This will reset and initialize everything!!</p>
</div>

<div class="wrapper">  
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-input-fields">
                    <div class="input-group pull-right">
                        <input class="form-control custom-input-width pull-left" placeholder="Enter Email Id" type="text" style="border-radius:2px;" ng-model="information.email"> 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-input-fields">
                    <div class="input-group pull-right">
                        <input class="form-control custom-input-width pull-left" placeholder="Enter Contact Name" type="text" style="border-radius:2px;" ng-model="information.name"> 
                        <button type="button" class="btn button-md custom-button-width btn-success" ng-click="addContact()">Add Contact</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="errorString">
            <div class="col-md-12">
                <p style="color:red;">{{errorString}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            <input class="form-control pull-left" placeholder="Search details here" type="text" style="border-radius:2px;" ng-model="data.searchString">  
                            </th>
                            <th class="align-middle"> <span class="action-icon" ng-include="'./img/search.svg'"></span> </th><th></th>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <th>Contact Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-if="contactDetails.length">
                        <tr ng-repeat="value in contactDetails track by $index">
                            <td>{{value.email}}</td>
                            <td><p ng-if="!updateCalledFor(value)">{{value.name}}</p>
                                <div ng-if="updateCalledFor(value)"> 
                                    <input class="form-control pull-left" placeholder="Enter New Name" type="text" style="border-radius:2px;" ng-model="updateInformation.name">
                                </div>
                            </td>
                            <td class="text-right-with-margin">
                                <div ng-if="!updateCalledFor(value)">
                                    <span class="action-icon" ng-include="'./img/edit.svg'" ng-click="showUpdate(value)"></span>
                                    <span class="action-icon" ng-include="'./img/bin.svg'" ng-click="deleteContact(value)"></span>
                                </div>
                                <div ng-if="updateCalledFor(value)">
                                    <span class="action-icon" ng-include="'./img/check.svg'" ng-click="updateContact(value.email,updateInformation.name)"></span>
                                    <span class="action-icon" ng-include="'./img/delete.svg'" ng-click="cancelUpdate(value)"></span>
                                </div>    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-if="contactDetails.length">
            <div class="col-md-12 text-center">
                <ul class="pagination justify-content-center" ng-if="page.total>1">
                    <li class="page-item" ng-if="shouldShowPrevious()">
                        <a class="page-link" aria-label="Previous" ng-click="showPrevious()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item" ng-repeat="i in range()">
                        <a class="page-link" ng-click="fetchByOffset(i)" ng-class="{'active':page.current==i}">{{i}}</a>
                    </li>
                    
                    <!--Arrow right-->
                    <li class="page-item" ng-if="shouldShowNext()">
                        <a class="page-link" aria-label="Next" ng-click="showNext()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>        
    </div>
</div>